body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.conteudo{
    background-color: rgb(32, 32, 32);
    border: 20px;
    border-color: rgb(32, 32, 32);
    border-style: double;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.regiao{
    font-size: x-small;
    color: rgb(0, 142, 0);
    margin: 0%;
}
.descricao{
    margin-top: 10px;
    font-size: x-small;
    color: grey;
}

.social{
    font-size: x-small;
    font-weight: bold;
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.item{
    flex:  1;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}

h1{
    margin: 0%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 120%;
    transition: 0.3s;
}
